.videoGallery-container {
    padding: 0 20px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.no-video {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    box-sizing: border-box;
}