body {
  padding: 0;
  margin: 0;
  font-family: Open Sans,sans-serif;
}
.App {
  color: white;
  text-align: center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  background: url(/src/assets/AppBg.jpg);
  background-color: teal;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 20px 0px;
  }
}